# Database
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password_here

# Cloudinary Secrets
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
